/*
Estructura estandard HTML
<!DOCTYPE html>
<html>
<head>
	<style>

	</style>
</head>
<body>

</body>
</html>
*/

/*definicions d'estils per etiqueta*/

h1, h2, h3 {
	color: #8A8E27;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

h1 h2 h3 {
	color: #8A8E27;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}

/*definicions d'estils Descendents*/

p a em {
	text-decoration: underline;
}

p a {
	color: red;
}

p * a {
	color: red;
}

/*definicions d'estils de Classes*/

.avis {
	padding: 0.5em;
	border: 1px solid #98be10;
	background: #f6feda;
}

.error {
	color: #930;
	font-weight: bold;
}

.destacat {
	color: red;
}

.especial {
	font-weight: bold;
}

/*definicions d'estils d'ID*/

#avis {
	padding: 0.5em;
	border: 1px solid #98be10;
	background: #f6feda;
}

#error {
	color: #930;
	font-weight: bold;
}

#destacat {
	color: red;
}

#especial {
	font-weight: bold;
}

/*definicions d'estils amb Classes*/

p.error {
	color: #930;
	font-weight: bold;
}

/* Tots els elements de tipus “p” amb atribut class=“error”*/

p .error {
	color: #930;
	font-weight: bold;
}

/* Tots els elements amb atribut class=“error” que estiguin dins d’un element tipus “p” */

p, .error {
	color: #930;
	font-weight: bold;
}

/* Tots els elements “p” i tots els elements amb atribut class=“error”*/

/*definicions d'estils amb ID*/

p#error {
	color: #930;
	font-weight: bold;
}

/* Tots els elements de tipus “p” amb atribut id=“error”*/

p #error {
	color: #930;
	font-weight: bold;
}

/* Tots els elements amb atribut id=“error” que estiguin dins d’un element tipus “p” */

p, #error {
	color: #930;
	font-weight: bold;
}

/* Tots els elements “p” i tots els elements amb atribut id=“error”*/

/*Selector d'atributs*/

p[id] {
	background-color: yellow;
}

a[target=_blank] {
	background-color: yellow;
}

[lang|=en] {
	background-color: yellow;
}

[title~=flower] {
	background-color: yellow;
}

div[class$="test"] {
	background: #ffff00;
}

/*Fent ús de pseudo-classes*/

/* unvisited link */
a:link {
	color: #FF0000;
}

/* visited link */
a:visited {
	color: #00FF00;
}

/* mouse over link */
a:hover {
	color: #FF00FF;
}

/* selected link */
a:active {
	color: #0000FF;
}